# Validate compatability with latest stable version of Ariflow
apache-airflow>=1.10

# testing/mocking libraries
nose==1.3.7
mock==4.0.2
responses~=0.12.1
tblib===1.7.0
freezegun==1.0.0
pexpect==4.8.0