language: python

python:
  - "3.7"

install:
  - pip install -r requirements.txt
  - pip install -r test/requirements.txt

script:
  - python -m unittest discover -s biggerquery -t . -p '*.py'
  - python -m unittest discover -s test -p '*.py'