-r requirements/base.txt
-r requirements/bigquery_extras.txt
-r requirements/log_extras.txt
-r requirements/dataproc_extras.txt
-r requirements/dataflow_extras.txt
twine
freezegun
pexpect
responses
bs4

pytest
pytest-html
pytest-cov
pytest-github-actions-annotate-failures
pip-tools