-r requirements/base.txt
-r requirements/bigquery_extras.txt
-r requirements/dataflow_extras.txt
pip>=25,<26
pip-tools>=7,<8
twine
freezegun
pexpect
responses
bs4

pytest
pytest-html
pytest-cov
pytest-github-actions-annotate-failures
parameterized